# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/

# Vite
.vite/

# Webpack
.cache/
*.local

# Testing
coverage/
jest/

# Env files
.env
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.tgz
*.tar.gz
